@charset "UTF-8";

/* ν‘Έν„°  μ‹μ‘ */
.footer {
	padding-top: 10px;
	background-color: #f8f8f8;
	width: 100%;
	height: 180px;
}

.footer ul {
	
	padding-left: 0px;
	padding-bottom: 15px;
	border-bottom: 1px solid #eee;
}

.footer li {
	text-decoration: none;
	list-style: none;
	display: inline-block;
	width: 150px;
	text-align: left;
}

.footer span {
	font-weight: 700;
    font-size: 14px;
    color: gray;
}

.footer li span:hover {
	font-weight: 900;
	color: black;
	cursor: pointer;
}

.footer p span{
	font-weight: 500;
    font-size: 12px;
    color: gray;
    line-height: 1.8;
}	