.jumbotron {
  position: relative;
  width: 100%;
  height: 250px;
  background-image: url("../image/banner_talk.png");
  background-size: cover;
  object-fit: cover;
}

.jumbotron .textBlock1 {
  position: absolute;
  display: inline-block;
  color: white;
  top: 80px;
  left: 25%;
}

.textBlock1 .main_title {
  font-size: 38px;
  font-weight: 400;
}

.textBlock2 .main_title {
  font-size: 32px;
  font-weight: 500;
}

.textBlock1 .sub_title {
  padding-top: 10px;
  font-size: 20px;
  font-weight: 300;
}

.containter a {
  text-decoration: none;
}

.boardArea {
  width: 1000px;
  height: 700px;
  margin: 0 auto;
}

.board {
  width: 100%;
  margin: 30px auto;
  border-radius: 10px;
}

.board table {
  table-layout: auto;
  border-collapse: collapse;
}

.board th,
.board td {
  padding: 15px 5px;
  border-bottom: 1px solid #d1d1d1;
}

.board td {
  text-align: center;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
}

.board .title_left {
  text-align: left;
  padding-left: 80px;
}

.board td a {
  width: 400px;
  color: black;
}

.board tr:first-child {
  background-color: #f9f9f9;
}

.board tr .hot {
  background-color: #ffffea;
}

.board tr:hover {
  background-color: #f9f9f9;
}

.board td .hot {
  color: #fff;
  background-color: #fb4357;
  font-weight: 500;
  padding: 3px;
  border-radius: 3px;
}

.board_bottom .search_btn {
  background-color: white;
  color: white;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.board_bottom .post_btn {
  float: right;
  background-color: #fb4357;
  color: #fff;
  border-radius: 5px;
  padding: 7px;
}

.board_footer .paging {
  text-align: center;
  margin-top: 30px;
}

.paging .paging_first,
.paging .paging_prev,
.paging .paging_next,
.paging .paging_last,
.paging .paging_number_active {
  transition: all 0.2s;
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 0 -1px;
  box-sizing: border-box;
  border: 1px solid #ebebeb;
  color: #cccccc;
  font-size: 16px;
}

.paging .paging_first:hover,
.paging .paging_prev:hover,
.paging .paging_next:hover,
.paging .paging_last:hover {
  border-color: #fb4357;
  color: #fb4357;
}

.paging .paging_number {
  transition: background-color, 0.2s;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 -1px;
  padding: 0 5px;
  color: #000;
  box-sizing: border-box;
  line-height: 40px;
}

.paging .paging_number:hover {
  background-color: #b8b8b8;
  color: #fff;
}

.paging .paging_number_active {
  font-style: normal;
  background-color: #fb4357;
  color: #fff;
  line-height: 40px;
}

.paging .paging_prev {
  margin-right: 15px;
}

.paging .paging_next {
  margin-left: 15px;
}
