@charset "UTF-8";

.login_box{
	width: 500px;
	margin: 0 auto;
}

.article input{

	width: 330px;
    height: 50px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    font-size: 14px;
    outline: none;
    
    margin-bottom: 10px;
}

.article input:focus {
	
	border: 1px solid gray;
}

.article input::placeholder {
	color: #ccc;
}

.article button{
	width: 350px;
	height: 50px;

    border-radius: 3px;
    font-size: 16px;	
    font-weight: 700;
    text-align: center;
    margin-bottom: 5px;
}

.btn_login {
	border: 1px solid #fb4357;
	color: white;
    background-color: #fb4357;
}

.btn_join {
	border: 1px solid #fb4357;
	color: #fb4357;
    background-color: white;
}
	